body {
    box-sizing: border-box;
}

.avatar-round {
    border-radius: 50%;
}

.avatar-square-lg {
    border-radius: 15px;
}

.avatar-square-md {
    border-radius: 10px;
}

.avatar-square-sm {
    border-radius: 5px;
}


.avatar-large {
    width: 115px;
    height: 115px;

}

.avatar-medium {
    width: 90px;
    height: 90px;
    /* border-radius: 10px; */
}

.avatar-small {
    width: 65px;
    height: 65px;
    /* border-radius: 5px; */
}

.avatar-text {
    background-color: lightgreen;
    color: purple;
    text-align: center;
    display: inline-block;
}

.avatar-text-lg {
    font-size: 2.1rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.avatar-text-md {
    font-size: 1.6rem;
    padding: 0.4rem;
    border-radius: 10px;

}

.avatar-text-sm {
    font-size: 1.3rem;
    padding: 0.3rem;
    border-radius: 5px;
}


section {
    margin: 3rem;
}

img,
span {
    margin-right: 1rem;
}

/* Badge Styles */

.align-horizontal {
    display: inline-block;
    margin-right: 1rem;
/* border: 1px solid red; */
}

.badge-on-avatar-lg {
    position: relative;
    width: 120px;
    /* border: 1px solid red; */
}

.icon-top-lg {
    position: absolute;
    bottom: 10px;
    right:5px;
    font-size: 2rem;
    color: red;
}

.badge-on-avatar-md {
    position: relative;
    width: 100px;
    /* border: 1px solid red; */
}

.icon-top-md {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 2rem;
    color: red;
}


.badge-on-avatar-sm {
    position: relative;
    /* width: 40px; */
    /* border: 1px solid blue; */
}


.icon-top-sm {
    position: absolute;
    bottom: 0px;
    right: 5px;
    /* font-size: px; */
    color: red;
}

.badge-on-icon  {
    width: 4.5rem;
    /* height: 100px; */
    /* font-size: 2rem; */
    /* border: 1px solid green;  */
    position: relative; 
}

.num-icon {
    height: 1.5rem;
    width: 1.5rem; 
    position: absolute; 
    top: 0;
    right: 0; 
}

#icon-mail-large {
    font-size:3rem;
}


#icon-text-large {
    font-size:3rem;
}