@import "../for-import/reset.css"; 
@import "../for-import/colors.css";
@import "../for-import/temp-buttons.css";
@import "../for-import/typography.css";

/* style for icon on top of image */
.card-top {
    position: relative;
}
.icon-on-image {
    position: absolute;
    top: 1rem;
    left: 1rem; 
   color: var(--accent-color) ;
    font-size: 1.5rem;
}

.icon-on-image:hover {
  color: var(--default-color);    
}

.dismiss-on-card {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem; 
    font-size: 1.3rem;
    color: var(--primary-color);
}

.text-on-image {
    position: absolute;
    top: 1rem;
    left: 1rem; 
    color: var(--primary-color);
    font-weight: 700;
}

/* cards style */

.cards {    
    width: 21.8rem; /* 350px */
    height: 30rem;   
    padding: 0.7rem;
    box-shadow: 0 4px 8px 0 var(--shadow-color-light);    
    border-radius: 5px;
    text-align: center;
}

.card-shadow:hover {
    transition: 0.3s;
    box-shadow: 2px 4px 8px 2px  var(--shadow-color-dark);
}

.img-hero {
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--color2);
    padding: 8px;
    font-size: 0.9rem;
}

.card-vertical {
height: 33rem; 
width: 22rem;

}

.img-horizontal {
height:10rem;
width: 17rem;

}

.card-horizontal {
    height: 25rem; 
    width: 33rem;
    
}

.primary-border {
    border: 2px solid var(--primary-color);
}

.accent-border {
    border: 2px solid var(--accent-color);
}

.card-text {
    font-weight: 500;
    line-height: 1.7rem;     
}

.text-only{
    text-align: left;
}