@import "../for-import/typography.css";
@import "../for-import/colors.css";
@import "../for-import/reset.css";

.slider {   
    width: auto;   
}

.container-slider>span {
font-weight: 700;
font-size: 1.5rem; 
}
