/* :root {
      --default-color:#1ac8ed;
    --primary-color: #0E4749;
    --secondary-color: #d3b99f;
    --accent-color: #F34213;
    --error-color: #FEE2E2;
    --warning-color: #f0e7c3;
    --info-color: #A8D0E6;
    --disable-color: lightgrey; 
    
    
} */


:root {
     --default-color: #fefefe; 
    --primary-color: #080357;
    --secondary-color:  #8D6A9F;
    --accent-color: #AA4586;
    --error-color: #FEE2E2;
    --warning-color: #f0e7c3;
    --info-color: #A8D0E6;
}
    
  

  