@import "../../for-import/main.css";

.wrapper-doc-avatar {
    text-align: center;
    margin: 0;
    padding: 0;
}

.embed-wrapper {
    width: auto;
    height: 200px;
    margin: 2rem auto 1rem auto;
    /* position: relative; */
    /* padding-bottom: 56.25%;     */
    /* border: 1px solid black;  */
    /* margin-bottom: 2rem; */
    overflow-x: auto;
    overflow-y: auto;
}

iframe {
    overflow-x: auto;
    overflow-y: visible;
}



@media only screen and (min-width: 500px) {
    .embed-wrapper {
        width: auto;
        height: auto;
        /* padding: 0;  */
        /* overflow-x: hidden; */
        /* overflow-y: hidden;  */
    }

    





}





/* 
.embed-code {  
    border:0; 
    border-radius: var(--chosen-border-radius);
    position: absolute;  
     top:0 ;
    left:0;  
    height: 100%;
    width: 100%;       
}   */
