@import "../for-import/colors.css";
@import "../for-import/reset.css";
@import "../for-import/typography.css";

.container-for-lists {
    margin-bottom: 3rem;
    text-align: center;    
}
.list-general {
    list-style: none;
    width: 10rem; 
    margin-left: auto;
    margin-right: auto;
}

.list-general>li {
    border-radius: var(--chosen-border-radius);
    padding: 0.7rem;
}

.list-simple {
    margin-bottom: 1rem;
}

.list-simple>li {
    margin-bottom: 1rem;
    border-right: 1px solid var(--shadow-color-light);
    border-bottom: 1px solid var(--shadow-color-light);
}


.list-stacked>li {
    background-color: var(--secondary-color);
    height: 1.5rem;
    margin-bottom: 1rem;
}