@import"../for-import/reset.css";
@import"../for-import/colors.css";

section {
    margin-bottom: 2rem;
}

.btn {
    padding: 10px;
    width: 6rem; 
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
}

.btn-accent {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}   

.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-disabled {
    background-color: var(--disable-color);

}

.btn-accent-outlined {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}


.btn-primary-outlined {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.btn-secondary-outlined {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.btn-link {
    color: var(--primar-color);
}

