body {
    box-sizing: border-box;
}

/*  */

.avatar-round {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 12px;
}

.avatar-large {
    width: 115px;
    height: 115px;

}

.avatar-medium {
    width: 90px;
    height: 90px;
}

.avatar-small {
    width: 65px;
    height: 65px;
}

.avatar-text {
    background-color: lightgreen;
    color: purple;
    text-align: center;
    display: inline-block;
}

.avatar-text-lg {
    font-size: 2.2rem;
    padding: 0.5rem;
}

.avatar-text-md {
    font-size: 1.6rem;
    padding: 0.4rem;

}

.avatar-text-sm {
    font-size: 1.3rem;
    padding: 0.3rem;
}

/* styles for this page to keep elements separate from each other */

section {
    margin: 3rem;
}

span, img{
    margin: 0.5rem;
}