@import "../for-import/reset.css";
@import "../for-import/colors.css";

.alert {
    width: 31.2rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
    border-radius: 5px; 
    color: var(--primary-color);
}


.error {
    background-color: var(--error-color);
   
}

.our-style {   
    font-size: 2rem;
    margin-left: 1rem;
}

.warning{
    background-color: var(--warning-color);
}


.success {
    background-color: #D1FAE5;
}

.info {
    background-color: var(--info-color);    
}

span {
    margin-left: 1rem;
    font-size: 1.2rem;   
}
