body {
    box-sizing : border-box; 
}

.alert {
    width: 500px;
    height: 50px; 
    background-color: lightpink
    ;
    color: red;
    /* font-size: 2rem; */
    /* padding-top: 1.1rem ; */
    /* border: 1px solid red; */
}

.message-alert {
    color: maroon;
    /* border: 1px solid gold;  */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.our-style {
    /* border: 1px solid blue; */
    font-size: 2rem;
    /* padding-top: 1rem; */
    /* margin: 1rem; */
}

.message-warning {
    border: 1px solid pink;
    background-color: lightgreen; 
}

.icon-warning {
    border: 1px solid black; 
    padding-right: 0; 
}


span {
    margin-left: 1rem;
    border: 1px solid blue; 
}